# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [132]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [133]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df =  pd.read_csv(
    Path('Resources/applicants_data.csv',)
)

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [134]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [135]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [136]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [137]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [138]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [139]:
# Create a DataFrame with the encoded variables
encoded_df =  pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

C:\Users\dymde\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [140]:
# Create a list of numerical variables 
numerical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "int64"].index)

# Display the numerical variables list
numerical_variables

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [141]:

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df =encoded_df = pd.concat([encoded_df,applicant_data_df[numerical_variables]],axis=1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [142]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [143]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])


# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [144]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test =  train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [145]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [146]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [147]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [148]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1) // 2


# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [149]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2


# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [150]:
# Create the Sequential model instance
nn = Sequential()

In [151]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [152]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [153]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="linear"))

In [154]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_27 (Dense)            (None, 58)                6786

 dense_28 (Dense)            (None, 29)                1711

 dense_29 (Dense)            (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [155]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer="adam", metrics=["accuracy"])

In [156]:
# Fit the model using 50 epochs and the training data
deep_net_model_1 = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 1.1347 - accuracy: 0.6737
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9050 - accuracy: 0.7164
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9997 - accuracy: 0.6989
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8458 - accuracy: 0.7112
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9138 - accuracy: 0.7147
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8806 - accuracy: 0.7173
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8387 - accuracy: 0.7205
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8324 - accuracy: 0.7175
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8844 - accuracy: 0.7101
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8238 - accuracy: 0.7224
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7035 - accuracy: 0.7278
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7175 - accuracy: 0.7278
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7279 - accuracy: 0.7216
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6786 - accuracy: 0.7283
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7250 - accuracy: 0.7252
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7222 - accuracy: 0.7294
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7165 - accuracy: 0.7305
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7153 - accuracy: 0.7293
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6805 - accuracy: 0.7292
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7047 - accuracy: 0.7287
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6835 - accuracy: 0.7126
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6384 - accuracy: 0.7322
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6245 - accuracy: 0.7329
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6103 - accuracy: 0.7311
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6178 - accuracy: 0.7285
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6146 - accuracy: 0.7338
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6122 - accuracy: 0.7352
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6343 - accuracy: 0.7235
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6089 - accuracy: 0.7311
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5951 - accuracy: 0.7286
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5934 - accuracy: 0.7320
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5867 - accuracy: 0.7349
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5816 - accuracy: 0.7353
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5891 - accuracy: 0.7331
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5965 - accuracy: 0.7348
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6019 - accuracy: 0.7310
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5879 - accuracy: 0.7333
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5791 - accuracy: 0.7347
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5806 - accuracy: 0.7343
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5773 - accuracy: 0.7345
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5962 - accuracy: 0.7156
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5714 - accuracy: 0.7335
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5831 - accuracy: 0.7360
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5721 - accuracy: 0.7332
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7313
Epoch 46/50
804/804 [==============================] - 1s 987us/step - loss: 0.5782 - accuracy: 0.7260
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5867 - accuracy: 0.7256
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5746 - accuracy: 0.7334
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5688 - accuracy: 0.7335
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5635 - accuracy: 0.7361

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [157]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5806 - accuracy: 0.7228 - 279ms/epoch - 1ms/step
Loss: 0.5806124210357666, Accuracy: 0.7227988243103027

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [158]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [159]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [160]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [161]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 8

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

8

In [162]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [163]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_30 (Dense)            (None, 8)                 936

 dense_31 (Dense)            (None, 1)                 9

=================================================================
Total params: 945
Trainable params: 945
Non-trainable params: 0
_________________________________________________________________

In [164]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [165]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 853us/step - loss: 0.6085 - accuracy: 0.7075
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5635 - accuracy: 0.7282
Epoch 3/50
804/804 [==============================] - 1s 970us/step - loss: 0.5564 - accuracy: 0.7303
Epoch 4/50
804/804 [==============================] - 1s 951us/step - loss: 0.5532 - accuracy: 0.7312
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7307
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7321
Epoch 7/50
804/804 [==============================] - 1s 911us/step - loss: 0.5494 - accuracy: 0.7315
Epoch 8/50
804/804 [==============================] - 1s 911us/step - loss: 0.5487 - accuracy: 0.7321
Epoch 9/50
804/804 [==============================] - 1s 890us/step - loss: 0.5481 - accuracy: 0.7322
Epoch 10/50
804/804 [==============================] - 1s 972us/step - loss: 0.5476 - accuracy: 0.7322
Epoch 11/50
804/804 [==============================] - 1s 887us/step - loss: 0.5470 - accuracy: 0.7327
Epoch 12/50
804/804 [==============================] - 1s 968us/step - loss: 0.5468 - accuracy: 0.7329
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7321
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7324
Epoch 15/50
804/804 [==============================] - 1s 878us/step - loss: 0.5460 - accuracy: 0.7340
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7328
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7341
Epoch 18/50
804/804 [==============================] - 1s 863us/step - loss: 0.5452 - accuracy: 0.7330
Epoch 19/50
804/804 [==============================] - 1s 895us/step - loss: 0.5444 - accuracy: 0.7342
Epoch 20/50
804/804 [==============================] - 1s 919us/step - loss: 0.5441 - accuracy: 0.7326
Epoch 21/50
804/804 [==============================] - 1s 952us/step - loss: 0.5438 - accuracy: 0.7345
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7340
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7341
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7345
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7346
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7348
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7340
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7346
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7343
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7350
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7338
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7344
Epoch 34/50
804/804 [==============================] - 1s 997us/step - loss: 0.5422 - accuracy: 0.7348
Epoch 35/50
804/804 [==============================] - 1s 966us/step - loss: 0.5424 - accuracy: 0.7339
Epoch 36/50
804/804 [==============================] - 1s 851us/step - loss: 0.5422 - accuracy: 0.7355
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7348
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7353
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7341
Epoch 40/50
804/804 [==============================] - 1s 902us/step - loss: 0.5421 - accuracy: 0.7343
Epoch 41/50
804/804 [==============================] - 1s 971us/step - loss: 0.5420 - accuracy: 0.7342
Epoch 42/50
804/804 [==============================] - 1s 845us/step - loss: 0.5416 - accuracy: 0.7349
Epoch 43/50
804/804 [==============================] - 1s 836us/step - loss: 0.5419 - accuracy: 0.7349
Epoch 44/50
804/804 [==============================] - 1s 937us/step - loss: 0.5418 - accuracy: 0.7345
Epoch 45/50
804/804 [==============================] - 1s 894us/step - loss: 0.5414 - accuracy: 0.7342
Epoch 46/50
804/804 [==============================] - 1s 915us/step - loss: 0.5415 - accuracy: 0.7350
Epoch 47/50
804/804 [==============================] - 1s 931us/step - loss: 0.5416 - accuracy: 0.7341
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7341
Epoch 49/50
804/804 [==============================] - 1s 898us/step - loss: 0.5414 - accuracy: 0.7346
Epoch 50/50
804/804 [==============================] - 1s 936us/step - loss: 0.5414 - accuracy: 0.7342

#### Alternative Model 2

In [166]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [167]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [168]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 79

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

79

In [169]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [170]:
# First hidden layer
nn_A2 .add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2 .add(Dense(units=1, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_32 (Dense)            (None, 79)                9243

 dense_33 (Dense)            (None, 1)                 80

=================================================================
Total params: 9,323
Trainable params: 9,323
Non-trainable params: 0
_________________________________________________________________

In [171]:
# Compile the model
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["accuracy"])

In [172]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 876us/step - loss: 0.4058 - accuracy: 0.7100
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2672 - accuracy: 0.7261
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2642 - accuracy: 0.7260
Epoch 4/50
804/804 [==============================] - 1s 867us/step - loss: 0.2434 - accuracy: 0.7276
Epoch 5/50
804/804 [==============================] - 1s 971us/step - loss: 0.2373 - accuracy: 0.7286
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2298 - accuracy: 0.7276
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2287 - accuracy: 0.7288
Epoch 8/50
804/804 [==============================] - 1s 785us/step - loss: 0.2103 - accuracy: 0.7283
Epoch 9/50
804/804 [==============================] - 1s 775us/step - loss: 0.2034 - accuracy: 0.7315
Epoch 10/50
804/804 [==============================] - 1s 814us/step - loss: 0.2029 - accuracy: 0.7300
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2038 - accuracy: 0.7308
Epoch 12/50
804/804 [==============================] - 1s 866us/step - loss: 0.1964 - accuracy: 0.7308
Epoch 13/50
804/804 [==============================] - 1s 901us/step - loss: 0.1960 - accuracy: 0.7339
Epoch 14/50
804/804 [==============================] - 1s 769us/step - loss: 0.1955 - accuracy: 0.7311
Epoch 15/50
804/804 [==============================] - 1s 865us/step - loss: 0.1926 - accuracy: 0.7315
Epoch 16/50
804/804 [==============================] - 1s 857us/step - loss: 0.1894 - accuracy: 0.7323
Epoch 17/50
804/804 [==============================] - 1s 790us/step - loss: 0.1885 - accuracy: 0.7326
Epoch 18/50
804/804 [==============================] - 1s 892us/step - loss: 0.1881 - accuracy: 0.7320
Epoch 19/50
804/804 [==============================] - 1s 972us/step - loss: 0.1880 - accuracy: 0.7327
Epoch 20/50
804/804 [==============================] - 1s 806us/step - loss: 0.1890 - accuracy: 0.7326
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1888 - accuracy: 0.7327
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1885 - accuracy: 0.7320
Epoch 23/50
804/804 [==============================] - 1s 952us/step - loss: 0.1897 - accuracy: 0.7330
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1875 - accuracy: 0.7314
Epoch 25/50
804/804 [==============================] - 1s 915us/step - loss: 0.1848 - accuracy: 0.7330
Epoch 26/50
804/804 [==============================] - 1s 868us/step - loss: 0.1859 - accuracy: 0.7345
Epoch 27/50
804/804 [==============================] - 1s 842us/step - loss: 0.1867 - accuracy: 0.7339
Epoch 28/50
804/804 [==============================] - 1s 841us/step - loss: 0.1887 - accuracy: 0.7339
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1872 - accuracy: 0.7335
Epoch 30/50
804/804 [==============================] - 1s 827us/step - loss: 0.1858 - accuracy: 0.7334
Epoch 31/50
804/804 [==============================] - 1s 885us/step - loss: 0.1851 - accuracy: 0.7332
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1849 - accuracy: 0.7334
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1870 - accuracy: 0.7345
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1870 - accuracy: 0.7348
Epoch 35/50
804/804 [==============================] - 1s 985us/step - loss: 0.1847 - accuracy: 0.7357
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1845 - accuracy: 0.7336
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1844 - accuracy: 0.7367
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1865 - accuracy: 0.7349
Epoch 39/50
804/804 [==============================] - 1s 835us/step - loss: 0.1847 - accuracy: 0.7357
Epoch 40/50
804/804 [==============================] - 1s 963us/step - loss: 0.1844 - accuracy: 0.7355
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1863 - accuracy: 0.7344
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1839 - accuracy: 0.7356
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1836 - accuracy: 0.7355
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1832 - accuracy: 0.7355
Epoch 45/50
804/804 [==============================] - 1s 982us/step - loss: 0.1839 - accuracy: 0.7366
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1840 - accuracy: 0.7356
Epoch 47/50
804/804 [==============================] - 1s 961us/step - loss: 0.1839 - accuracy: 0.7345
Epoch 48/50
804/804 [==============================] - 1s 994us/step - loss: 0.1848 - accuracy: 0.7352
Epoch 49/50
804/804 [==============================] - 1s 963us/step - loss: 0.1854 - accuracy: 0.7345
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1847 - accuracy: 0.7356

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [173]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5806 - accuracy: 0.7228 - 193ms/epoch - 721us/step
Loss: 0.5806124210357666, Accuracy: 0.7227988243103027

In [174]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5664 - accuracy: 0.7230 - 253ms/epoch - 943us/step
Loss: 0.5663866400718689, Accuracy: 0.7230320572853088

In [175]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.1883 - accuracy: 0.7256 - 269ms/epoch - 1ms/step
Loss: 0.18834136426448822, Accuracy: 0.7255976796150208

### Step 3: Save each of your alternative models as an HDF5 file.

In [176]:
# Set the file path for the first alternative model
file_path = "/Resources/AlphabetSoup_A1.h5"


# Export your model to a HDF5 file
nn_A1.save(file_path)

In [177]:
# Set the file path for the second alternative model
file_path ="/Resources/AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)